@charset "UTF-8";

root {
    
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: vh;
    background-color: darkgray;
}

header {
    background-color: black; 
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-top: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%vh;
    padding-bottom: 10%vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black
}

section > p#texto {
    background-color: rgb(53, 53, 53);
    color: white;
}

section#texto {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.274)
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}